/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* roboto-condensed-regular - latin */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/roboto-condensed-v25-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-condensed-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* vollkorn-regular - latin */
@font-face {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/vollkorn-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/vollkorn-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  html{
    box-sizing: border-box;
  }
  .header{
    width: 100%;
    height: 60px;
    background: #323232;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.13);
    border-radius: 0px;
    position: fixed;
  }
  .wrapper{
    max-width: 940px;
    margin: 0 auto;
  }
  .header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }
  .logo{
    display: flex;
    flex-wrap: wrap;
  }
  .logo_text{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    color: #EDEDED;
    padding-right: 31px;
    padding-left: 8px;
  }
  .header_list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  .header_item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    border-left: 1px solid #4D4D4D;
  }
  .header_item:last-child{
    border-right: 1px solid #4D4D4D;
  }
  .header_item:hover, .header_item:active, .header_item:focus{
    background-color: #000;
  }
  .header_link{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #EDEDED;
    letter-spacing: 2px;
    text-decoration: none;
    padding-left: 31px;
    padding-right: 31px;
  }
  .header_link:hover, .header_link:active, .header_link:focus{
    color: #C7AA8B;
  }
  .link_soc_networks{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
  .link_soc_item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid #4D4D4D;
  }
  .link_soc_item:last-child{
    border-right: 1px solid #4D4D4D;
  }
  .link_img{
    padding-left: 23px;
    padding-right: 23px;
  }
  .link_soc_item:hover, .link_soc_item:active, .link_soc_item:focus{
    background-color: #000;
  }
  .header_burger{
    display: none;
  }
  .intro{
    height: 490px;
    background: url(./img/intro.png);
    background-size: cover;
  }
  .intro_title{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 78px;
    line-height: 66px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    padding-top: 127px;
  }
  .intro_line{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 2px;
    background: #FFFFFF;
    border-radius: 0px;
    margin-top: 36px;  
  }
  .intro_text{
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.81);
    padding-top: 18px;
  }
  .intro_button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 134px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    margin-top: 49px;
  }
  .intro_button:hover, .intro_button:active, .intro_button:focus{
    opacity: 50%;
    cursor: pointer;
  }
  .intro_but_title{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
  }
  .intro_slider{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 46px;
  }
  .intro_slide{
    width: 9px;
    height: 9px;
    background: rgba(255, 255, 255, 0.4);
    margin-left: 6px;
  }
  .intro_slide:first-child{
    margin-left: 0px;
    background-color:#FFFFFF;
  }
  .steps{
    height: 425px;
    background: #C7AA8B;
  }
  .steps_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 102px;
  }
  .step_card{
    text-align: center;
  }
  .step_title{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #4D4D4D;
    padding-bottom: 25px;
  }
  .step_description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #4D4D4D;
    text-align: left;
    padding-top: 40px;
    padding-left: 40px;
  }
  .desing_procces{
    background: url(./img/desing.png);
    height: 394px;
    background-size: cover;
  }
  .desing_title{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 55px;
    color: #C7AA8B;
    padding-top: 127px;
  }
  .desing_line{
    height: 2px;
    width: 60px;
    background: #C7AA8B;
    margin-top: 23px;
  }
  .the_team{
    background: white;
  }
  .the_team_cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 80px;
  }
.the_team_title{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    color: #4D4D4D;
}
.img_title{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;
    padding-top: 10px;
}
.title_prof{
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #4D4D4D;   
}
.the_team_soc{
    padding-top: 8.5px;
    padding-bottom: 91px;
}
.the_team_soc_img{
    padding-left: 10px;
}
.the_team_soc_img:first-child{
    padding-left: 0px;
}
.testimonials{
    background:#F7F7F7;
    height: 386px;
}
.testim_title{
    padding-top: 79px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: rgba(50, 50, 50, 0.36);
}
.testim_line{
    width: 60px;
    height: 2px;
    background: rgba(50, 50, 50, 0.18);
    margin-top: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.testim_cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 45px;
}
.testi_desc{
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #4D4D4D;
    margin-left: 31px;
}
.testi_desc_tit{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #C7AA8B;
}
.footer{
    background: #323232;
    height: 150px;
}
.footer_wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 57px;
} 
.footer_logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.footer_logo_img{
    padding-right: 8px;
}
.footer_text{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #858585;
}
.footer_button{
    width: 300px;
    height: 40px;
    background: rgba(77, 77, 77, 0.2);
    border: 2px solid #C7AA8B;
}
.footer_but_text{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #C7AA8B;
}
.footer_button:hover, .footer_button:active, .footer_button:focus{
    cursor: pointer;
    opacity: 50%;
}
@media screen and (max-width:750px) {
    .the_team_img{
      max-width: 154px;
      max-height: 222px; 
    }
}
@media screen and (max-width:656px) {
    .footer_button{
      width: 200px;
    }
}
@media screen and (max-width:620px) {
    .link_soc_networks{
      display: none;
    }
    .intro_title{
      font-size: 48px;
      line-height: 46px;
      padding-top: 97px;
    }
    .intro_line{
      margin-top: 12px;
    }
    .intro_text{
      font-size: 14px;
      line-height: 20px;
      padding-top: 8px;  
    }
    .intro_button{
      margin-top: 24px;
    }
    .intro_slider{
      padding-top: 36px;
    }
    .steps_cards{
      padding-top: 52px;
    }
    .steps{
      height: 350px;
    }
    .intro{
      height: 390px;
    }
    .desing_title{
      font-size: 36px;
      line-height: 46px;
    }  
}
@media screen and (max-width: 557px) {
    .footer_text{
      font-size: 10px;
    }
    .footer_but_text{
      font-size: 12px;
    }
    .footer_button{
      width: 140px;
      height: 30px;
    }
}
@media screen and (max-width:546px) {
    .the_team_img{
      max-width: 92.4px;
      max-height: 133.4px;
    }
    .steps_cards{
      padding-top: 12px;
    }
    .testim_title{
      padding-top: 29px;
    }
    .step_description{
      padding-top: 20px;
      padding-left: 20px;
    }
    .testi_desc{
      font-size: 14px;
    }
    .header_item{
      display:none;
    }
    .header_burger{
      display: block;
      width: 30px;
      height: 32px;
      position: relative;
    }
    .burger_line{
      display: block;
      width: 26.25px;
      height: 2.67px;
      background-color: #C7AA8B;
      position: absolute;
      left: 0;
      border-radius: 2px;
    }
    .burger_line_first{
      top: 8px;
    }
    .burger_line_second {
      top: 14.67px;
    }
    .burger_line_third{
      bottom: 8px;
    }
}
@media screen and (max-width:418px) {
    .footer_button{
      display: none;
    }
}